@require '../../vars'

.z-chart-tooltip
  padding: 12px
  border-radius: 6px
  background: getColor('$graphTooltipBg')

  > .label
    font-caption1()
    color: getColor('$white')
    margin-bottom: 6px

  > .x
    font-caption1()
    color: getColor('$white')

  > .y
    display: flex
    align-items: center

    > .color-wrapper
      width: 8px
      height: 8px
      margin-right: 12px
      margin-top: 4px
      position: relative

      > .color, > .white-bg
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        border-radius: 50%
        border: 1px solid getColor('$white')

        &.color
          z-index: 1

        &.white-bg
          background: getColor('$white')

    > .value
      font-subtitle2()
      color: getColor('$white')
      margin-top: 6px
