@require '../../vars'

.z-tags
  &.is-no-wrap
    display: flex

  > .row
    display: flex
    margin-bottom: 8px

  > .more, > .row > .more
    font-tbd2-name()
    flex-shrink: 0
    width: 32px
    height: 32px
    line-height: 32px
    border-radius: 50%
    background: getColor('$bgColorAlt1')
    text-align: center
