@require '../../vars'

.z-roles
  // container()
  flex1()
  display: flex

  > .sidebar
    display: flex

  > .content
    flex1()
    display: flex
    position: relative

    > .scroller
      flex1()
      overflow: auto
      -webkit-overflow-scrolling: touch
