@require '../../vars'

.z-input
  position: relative

  > .icon
    position: absolute
    left: 16px
    top: 12px

  &.is-full-width
    width: 100%

    > .input
      max-width: none

  &.has-icon
    > .input
      padding-left: 16px + 32px

  > .input
    font-body1()
    input()

    &::placeholder
      font-body1()

    // rm chrome autofill styles
    &:-internal-autofill-selected
      background-color: getColor('$bgColor') !important
