@require '../../vars'

.z-sidebar-menu
  min-width: 200px
  box-sizing: border-box

  > .title
    font-overline()
    text-transform: uppercase
    margin-bottom: 16px
    display: flex
    align-items: center

    > .icon
      margin-left: auto

  > .menu
    > .menu-item
      menu-item()
