@require '../../vars'

.z-sidebar-menu
  min-width: 200px
  box-sizing: border-box

  > .title
    font-overline()
    text-transform: uppercase
    margin-bottom: 16px

  > .menu
    > .menu-item
      menu-item()
