@require '../../vars'

.z-sidebar-menu
  flex1()
  min-width: 200px
  padding: 24px 8px 24px 16px
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .title
    font-overline()
    text-transform: uppercase
    margin-bottom: 16px
    display: flex
    align-items: center

    > .icon
      margin-left: auto

  > .menu
    > .menu-item
      menu-item()
