@require '../../vars'

.z-edit-role
  container()

  > .title
    font-h4()

  > .description
    font-body2()
    margin-bottom: 28px

  > .divider
    divider()
    margin: 20px 0

  > .subtitle
    font-subtitle2(medium)
    margin-bottom: 12px

  > .permissions

    > .permission
      padding: 12px 0

      > .title
        font-subtitle1()
        margin-bottom: 2px

      > .description
        font-body2()
        margin-bottom: 12px

      > .permission-type
        font-body2()
        padding: 2px 0
        display: flex
        align-items: center
        max-width: 200px


        > .toggle
          margin-left: auto
          align-items: center
