@require '../../vars'

$maxWidth = 360px

.z-sign-in-form
  display: block

  > .title
    font-h5()
    text-align: center
    margin-bottom: 32px

  > .input
    max-width: $maxWidth
    margin: 16px auto 20px auto

  > .terms
    font-body2()
    max-width: $maxWidth
    margin: 16px auto 0 auto
    margin-top: 16px

  > .actions
    max-width: $maxWidth
    margin: 40px auto 0 auto

  > .toggle
    font-body2()
    max-width: $maxWidth
    margin: 16px auto 0 auto
    display: flex
    align-items: center

    > .link
      font-button()
      cursor: pointer
      margin-left: 4px
