@require '../../vars'

.z-org-users
  flex1()
  display: flex
  min-width: 0

  > .content
    container()
    flex1()
    min-width: 0

    > .top
      display: flex
      margin-bottom: 16px

      &.invited-top
        margin-top: 32px

      > .left
        > .title
          font-h4()

        > .description
          font-body2()

      > .right
        margin-left: auto

.z-org-users_icons
  display: flex
