@require '../../vars'

.z-invite-org-user-dialog_content
  > .description
    margin-bottom: 8px

  > .section
    margin-bottom: 16px

  > .invite-section
    margin-top: 16px

    &.link
      > .title
        font-subtitle1()

    > .title
      font-subtitle2()
      margin-bottom: 12px

    > .action
      font-subtitle1()
      display: flex
      align-items: center
      margin-top: 16px

      > .input
        flex1()
        margin-right: 8px

      > .value
        margin-left: 8px

      > .button
        margin-left: auto

  > .divider
    width: 100%
    height: 1px
    background: getColor('$bgText12')
    margin: 16px 0

  // > .invite-link

  //   > .title
  //     margin-bottom: 12px

  //   > .row
  //     display: flex
  //     margin-bottom: 8px

  //     > .input
  //       flex1()

  //     > .icon
  //       margin-left: 8px
