@require '../../vars'

$maxWidth = 360px

.z-sign-in
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  background: getColor('$bgColorAlt1')

  > .title
    font-h2()
    margin: 72px 0 32px
    text-align: center

  > .content
    box()
    padding: 48px
    width: 100%
    box-sizing: border-box
    max-width: 578px
    margin: 0 auto

    > .invalid-invite
      text-align: center

      > .title
        font-h4()

      > .description
        margin-top: 16px
