@require '../../vars'

$knobRadius = 24px
$trackWidth = 40px
$borderWidth = 1px

.z-toggle
  position: relative
  cursor: pointer

  > .track
    width: $trackWidth
    height: $knobRadius
    border: $borderWidth solid getColor('$bgText54')
    border-radius: 20px // $trackWidth / 2
    box-sizing: border-box

  > .knob
    shadow-1()
    position: absolute
    left: 0
    top: 0
    width: $knobRadius
    height: $knobRadius
    border: 1px solid getColor('$bgText54')
    border-radius: 50%
    box-sizing: border-box
    transform: translate(0, 0)
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1)

    > .icon
      display: none
      height: 100%
      margin-left: 2px

  &.is-selected
    > .track
      background: getColor('$bgText')

    > .knob
      background: getColor('$bgColor')
      transform: translate($trackWidth - $knobRadius + $borderWidth + $borderWidth, 0)
      transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1)

      > .icon
        display: block
