@require '../../vars'

.z-tap-tabs
  height: 100%
  flex1()
  display: flex
  flex-direction: column

  > .menu
    width: 100%
    position: relative
    padding-top: 16px
    border-bottom: 1px solid getColor('$bgText12')

    > .container
      container()
      width: 100%
      display: flex
      min-width: 0
      white-space: nowrap
      overflow-x: auto
      -webkit-overflow-scrolling: touch

      > .tap-tab
        font-subtitle1(medium)
        margin-right: 8px
        padding: 16px
        cursor: pointer

        &:hover
          color: getColor('$bgText')

        &.is-selected
          font-subtitle1()
          border-bottom: 4px solid getColor('$primaryMain')
          color: getColor('$primaryMain')

  > .current-tab
    flex1()
    display: flex
    flex-direction: column
    background: getColor('$bgColorAlt1')
    padding: 36px 32px

    > .container
      container()
      flex1()
      width: 100%
      display: flex
      flex-direction: column
