@require '../../vars'

.z-dropdown
  flex1()
  display: flex
  // min-height: 48px
  outline: none
  text-align: inherit
  position: relative
  max-width: 360px
  cursor: pointer

  &.is-open
    > .options
       display: block

  &.is-primary
    > .wrapper
      > .current
        font-body2()
        background: getColor('$bgText70')
        color: getColor('$bgColor')
        height: 34px
        border-radius: 17.5px
        border: none
        padding: 0 48px 0 24px

        &:hover
          border: none

        > .text
          display: flex
          align-items: center

        > .arrow
          border-left: 1px solid getColor('$bgColor26')

  > .wrapper
    flex1()
    display: flex

    > .current
      font-body2()
      width: 100%
      background: getColor('$bgColor')
      padding: 8px 46px 8px 14px
      border-radius: 8px
      display: flex
      border: 1px solid getColor('$bgText12')
      transition: border 0.2s cubic-bezier(0.4, 0, 0.2, 1)

      &:hover
        border: 1px solid getColor('$bgText26')

      > .text
        flex1()
        text-align: center
        white-space: nowrap

      > .arrow
        position: absolute
        right: 16px
        top: 50%
        margin-top: -12px


.z-dropdown_options
  shadow-1()
  font-body2()
  // position: absolute
  margin-top: 8px
  z-index: 2
  background: getColor('$bgColor')
  // width: 100%
  box-sizing: border-box
  cursor: pointer
  // display: none
  overflow: auto
  -webkit-overflow-scrolling: touch

  &.is-condensed-options
    > .option
      padding: 8px 12px

  > .option
    padding: 16px
    display: flex
    align-items: center
    color: getColor('$bgText')
    cursor: pointer

    &:hover
      background: getColor('$bgColorAlt1')

    &.is-selected
      background: getColor('$bgColorAlt2')
